USE [master]
GO
/****** Object:  Database [SOSMED]    Script Date: 6/9/2024 10:49:36 PM ******/
CREATE DATABASE [SOSMED]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOSMED', FILENAME = N'D:\Work\Database Files\SOSMED.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOSMED_log', FILENAME = N'D:\Work\Database Files\SOSMED_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOSMED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOSMED]
GO
/****** Object:  Table [dbo].[TForm]    Script Date: 6/9/2024 10:49:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TForm](
	[FormID] [nvarchar](50) NOT NULL,
	[FormDesc] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TForm] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TGroup]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGroup](
	[GroupID] [nvarchar](50) NOT NULL,
	[GroupDesc] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TGroupAccess]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGroupAccess](
	[GroupID] [nvarchar](50) NOT NULL,
	[FormID] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_TGroupAccess] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TLoginHistory]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLoginHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[LoginTime] [datetime] NULL,
	[LogOutTime] [datetime] NULL,
 CONSTRAINT [PK_TLoginHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPosting]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPosting](
	[PostingID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TPosting] PRIMARY KEY CLUSTERED 
(
	[PostingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPostLimit]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPostLimit](
	[PostLimitID] [nvarchar](50) NOT NULL,
	[PostLimitValue] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TPostLimit] PRIMARY KEY CLUSTERED 
(
	[PostLimitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUser]    Script Date: 6/9/2024 10:49:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUser](
	[UserID] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[GroupID] [nvarchar](50) NOT NULL,
	[PostLimitID] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[Dept] [nvarchar](20) NULL,
 CONSTRAINT [PK_TUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[TForm] ([FormID], [FormDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'TForm', N'Master Form', N'sa', CAST(N'2024-05-23T09:41:09.097' AS DateTime), N'admin', CAST(N'2024-06-08T16:25:16.907' AS DateTime))
INSERT [dbo].[TForm] ([FormID], [FormDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'TGroup', N'Master Group', N'lenovo', CAST(N'2024-05-23T10:24:43.537' AS DateTime), N'admin', CAST(N'2024-06-09T01:41:48.943' AS DateTime))
INSERT [dbo].[TForm] ([FormID], [FormDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'TGroupAccess', N'Group Access', N'admin', CAST(N'2024-05-25T18:56:56.827' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TGroup] ([GroupID], [GroupDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'Admin', N'Admin Group', N'lenovo', CAST(N'2024-05-23T11:59:45.573' AS DateTime), N'admin', CAST(N'2024-06-09T02:12:22.597' AS DateTime))
INSERT [dbo].[TGroup] ([GroupID], [GroupDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'Finance', N'Financial Group', N'admin', CAST(N'2024-05-25T18:56:42.893' AS DateTime), NULL, NULL)
INSERT [dbo].[TGroup] ([GroupID], [GroupDesc], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'GGSquad', N'Good game squad', N'admin', CAST(N'2024-06-09T10:29:50.057' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TGroupAccess] ([GroupID], [FormID], [CreatedBy], [CreatedDate]) VALUES (N'Admin', N'TGroup', N'admin', CAST(N'2024-06-09T16:41:14.247' AS DateTime))
INSERT [dbo].[TGroupAccess] ([GroupID], [FormID], [CreatedBy], [CreatedDate]) VALUES (N'Admin', N'TPosting', N'admin', CAST(N'2024-06-09T16:41:14.243' AS DateTime))
INSERT [dbo].[TGroupAccess] ([GroupID], [FormID], [CreatedBy], [CreatedDate]) VALUES (N'Admin', N'TPostingLimit', N'admin', CAST(N'2024-06-09T16:41:14.243' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TLoginHistory] ON 

INSERT [dbo].[TLoginHistory] ([ID], [UserID], [LoginTime], [LogOutTime]) VALUES (1, N'admin', CAST(N'2024-06-09T03:06:08.047' AS DateTime), NULL)
INSERT [dbo].[TLoginHistory] ([ID], [UserID], [LoginTime], [LogOutTime]) VALUES (2, N'denny100', CAST(N'2024-06-09T03:07:15.520' AS DateTime), NULL)
INSERT [dbo].[TLoginHistory] ([ID], [UserID], [LoginTime], [LogOutTime]) VALUES (3, N'admin', CAST(N'2024-06-09T03:08:56.400' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TLoginHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[TPosting] ON 

INSERT [dbo].[TPosting] ([PostingID], [Title], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'first posting, title edited 123123', N'This is my first time posting in this site. cheers. so i edit this post again in 2024 may 23 for edit data purpose.....', N'jack', CAST(N'2024-05-23T16:55:06.723' AS DateTime), N'jack', CAST(N'2024-05-23T18:55:07.333' AS DateTime))
INSERT [dbo].[TPosting] ([PostingID], [Title], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'story about someone', N'so this people i was meet in a cafe in the big city, he was proffecional in web development. he also have some time teach me some coding best practice. really nice guy', N'denny100', CAST(N'2024-05-23T17:00:29.760' AS DateTime), NULL, NULL)
INSERT [dbo].[TPosting] ([PostingID], [Title], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'part two here', N'this the second posting in here. so far have good experience with this site. recommended to other to try this platform. keep up', N'jack', CAST(N'2024-05-23T19:18:29.440' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TPosting] OFF
GO
INSERT [dbo].[TPostLimit] ([PostLimitID], [PostLimitValue], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'average', 100, N'admin', CAST(N'2024-06-09T02:53:26.930' AS DateTime), NULL, NULL)
INSERT [dbo].[TPostLimit] ([PostLimitID], [PostLimitValue], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'extreme_user', 500, N'lenovo', CAST(N'2024-05-23T14:41:47.400' AS DateTime), N'sa', CAST(N'2024-05-23T14:49:54.297' AS DateTime))
INSERT [dbo].[TPostLimit] ([PostLimitID], [PostLimitValue], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'new', 6, N'admin', CAST(N'2024-06-09T22:41:22.880' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[TUser] ([UserID], [UserName], [Password], [GroupID], [PostLimitID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Dept]) VALUES (N'admin', N'default admin', N'蝞ꔋ廏봙縊朽⽖屦점ᇍ六ຠ宼⒫ᐎ↳䤵蕏閩ਯ⺫䑧땃䱅盁뜮ꈩ屿茲쇂', N'Admin', N'extreme_user', N'sa', CAST(N'2024-05-23T15:37:47.840' AS DateTime), NULL, NULL, N'Admin')
INSERT [dbo].[TUser] ([UserID], [UserName], [Password], [GroupID], [PostLimitID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Dept]) VALUES (N'denny100', N'denny', N'ꍒ㇂ᅐ렵荿홅鯶侭쉹༬䄚솟犸Ꭲ’蹖椾轏꣝�덛ꮢ戵əﾔꟲᠲ镫瓶ꤩ䓀ہ㋺ꤴ', N'User', N'normal_user', N'admin', CAST(N'2024-05-23T15:38:44.767' AS DateTime), NULL, NULL, N'User')
INSERT [dbo].[TUser] ([UserID], [UserName], [Password], [GroupID], [PostLimitID], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [Dept]) VALUES (N'jack', N'This Jack username', N'爟簏껊ᙙ쁒㿳첼灁里돂쬌龵ᓃ顿ƹ䜚ө╷鐵흙볁탸ꭶ쏌㢻椖頄긛孚욋謳', N'User', N'normal_user', N'sa', CAST(N'2024-05-23T15:06:36.467' AS DateTime), N'admin', CAST(N'2024-05-23T15:30:47.890' AS DateTime), N'User')
GO
ALTER TABLE [dbo].[TPostLimit] ADD  CONSTRAINT [DF_TPostLimit_PostLimitValue]  DEFAULT ((0)) FOR [PostLimitValue]
GO
ALTER TABLE [dbo].[TGroupAccess]  WITH CHECK ADD  CONSTRAINT [FK_TGroupAccess_TForm] FOREIGN KEY([FormID])
REFERENCES [dbo].[TForm] ([FormID])
GO
ALTER TABLE [dbo].[TGroupAccess] CHECK CONSTRAINT [FK_TGroupAccess_TForm]
GO
ALTER TABLE [dbo].[TGroupAccess]  WITH CHECK ADD  CONSTRAINT [FK_TGroupAccess_TGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[TGroup] ([GroupID])
GO
ALTER TABLE [dbo].[TGroupAccess] CHECK CONSTRAINT [FK_TGroupAccess_TGroup]
GO
ALTER TABLE [dbo].[TLoginHistory]  WITH CHECK ADD  CONSTRAINT [FK_TLoginHistory_TUser1] FOREIGN KEY([UserID])
REFERENCES [dbo].[TUser] ([UserID])
GO
ALTER TABLE [dbo].[TLoginHistory] CHECK CONSTRAINT [FK_TLoginHistory_TUser1]
GO
ALTER TABLE [dbo].[TUser]  WITH CHECK ADD  CONSTRAINT [FK_TUser_TGroup1] FOREIGN KEY([GroupID])
REFERENCES [dbo].[TGroup] ([GroupID])
GO
ALTER TABLE [dbo].[TUser] CHECK CONSTRAINT [FK_TUser_TGroup1]
GO
ALTER TABLE [dbo].[TUser]  WITH CHECK ADD  CONSTRAINT [FK_TUser_TPostLimit1] FOREIGN KEY([PostLimitID])
REFERENCES [dbo].[TPostLimit] ([PostLimitID])
GO
ALTER TABLE [dbo].[TUser] CHECK CONSTRAINT [FK_TUser_TPostLimit1]
GO
USE [master]
GO
